:root {
  --text-color: hsl(234, 29%, 20%);
  --gray-color: hsl(231, 7%, 60%);
  --dark-gray-color: hsl(234, 29%, 20%);
  --tomato-color: hsl(4, 100%, 67%);
}

/* Resets */
body,
input,
p {
  margin: 0px;
}

h1,
p {
  margin: 0px;
  padding: 0px;
}

/* Typography */
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
}

/* Components */
body {
  background-color: hsl(234, 29%, 20%);
}

.modal {
  position: fixed;
  inset: 0px;
  display: flex;
  padding: 20px;
  overflow: scroll;
}

.modal_window {
  flex-grow: 1;
  max-width: 600px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.modal_window_small {
  max-width: 400px;
}

.modal_window_large {
  max-width: 600px;
}

.modal-body {
  display: flex;
  gap: 1rem;
}

.modal-body-left {
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-body-right {
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
}

.modal-cover {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  vertical-align: top;
}

.modal-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.modal-subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.modal-item_list {
  list-style: none;
  padding: 0px;
}

.modal-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.modal-item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-image: url("../images/icon-list.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.modal-item + .modal-item {
  margin-top: 0.8rem;
}

.email_form {
  position: relative;
  margin-top: 3rem;
}

.email_form-label {
  display: block;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.email_form-input {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
  border-style: none;
  border-radius: 3px;
  outline: 1px solid var(--gray-color);
  width: 100%;
}

.email_form-input:focus {
  outline: 1px solid var(--dark-gray-color);
}

.email_form-submit_btn {
  width: 100%;
  margin: 1rem 0px;
  border-style: none;
  background-color: var(--dark-gray-color);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 1rem 0.8rem;
  font-size: 1rem;
}

.attribution {
  color: white;
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.success_icon {
  margin-bottom: 2rem;
}

.modal_bottom button {
  width: 100%;
  border-style: none;
  /* background-color: var(--tomato-color); */
  background-color: var(--dark-gray-color);
  color: white;
  border-radius: 5px;
  padding: 1rem 0.8rem;
  cursor: pointer;
}

.modal_bottom button:hover {
  background: linear-gradient(
    90deg,
    rgba(236, 21, 176, 1) 0%,
    rgba(244, 113, 30, 1) 49%,
    rgba(235, 28, 8, 1) 100%
  );
  box-shadow: -2px 5px 20px #f4711e;
}

#success_modal {
  visibility: visible;
}

#signup_modal {
  visibility: hidden;
}
