/* Resets */
h1,
p,
body {
  padding: 0;
  margin: 0;
}

/* Layout */
.layout_wrapper {
  width: auto;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
}

/* Module */
body {
  background-image: url("./images/bg.png");
}

.box-contents {
  color: white;
}

.box-contents {
  background-image: url("./images/green.png");
  background-repeat: repeat-x;
  background-position: center top;
  padding: 64px 20px 20px;
  border-radius: 0 0 15px 15px;
  background-color: rgb(142 85 49);
  box-shadow: 0 10px rgb(73 38 14);
}

.box-contents p {
  margin-top: 10px;
}

.box-cover {
  display: block;
  margin: 0 auto;
}
