/* Colors */
:root {
  --header-bg-color: rgb(14 101 164);
  --header-nav-bg-color: rgb(25 145 208);
  --title-color: rgb(31 148 209);
  --text-color: rgb(176 176 176);
  --wave-right-margin: 50px;
  --footer-bg-color: rgb(51 51 51);
}

/* Resets */

body,
nav,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  all: unset;
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

/* Typography */
:root {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.6rem;
}

/* Layout */
.l_wrapper {
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

/* Modules */

body {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: var(--header-bg-color);
  position: relative;
}

.header-logo {
  margin: 30px 0;
}

.header-nav {
  position: relative;
  display: flex;
  background-color: var(--header-nav-bg-color);
}

.header-nav-item--wrapper {
  display: flex;
  color: white;
}

.header-nav-item {
  display: flex;
}

.header-nav-item a {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-nav-item a:hover {
  background-color: white;
  color: orange;
}

.header-nav-item a.select {
  background-color: white;
  color: black;
}

.header-nav-cover {
  position: absolute;
  right: -50px;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  .header-nav-cover {
    display: none;
  }
}

.main {
  background-color: rgb(240 240 240);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.main h1 {
  color: var(--title-color);
  font-size: 2rem;
}

.contents--wrapper {
  display: flex;
  background-color: white;
  gap: 40px;
  padding: 20px;
  margin-bottom: 20px;
}

.contents {
  flex-grow: 1;
  min-width: 0;
}

.contents .box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 2px dashed;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .contents .box {
    flex-direction: column;
    align-items: center;
  }

  .box-img {
    width: 100%;
  }
}

.contents .box:first-child {
  padding-top: 0px;
}

.contents .box:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}

.box-info {
  overflow-wrap: break-word;
  min-width: 0px;
}

.box-info h1 {
  margin-bottom: 1rem;
}

.summary {
  flex-shrink: 0;
  flex-basis: 200px;
}

@media screen and (max-width: 1000px) {
  .summary {
    display: none;
  }
}

.summary h1 {
  margin-bottom: 1em;
}

.summary p {
  border-left: 0.2rem solid;
  padding-left: 1rem;
  line-height: 2;
}

.footer {
  background-color: var(--footer-bg-color);
}

.footer--wrapper {
  display: flex;
  padding: 20px 0;
  align-items: flex-start;
  gap: 2rem;
}

.footer-logo {
  margin-right: auto;
}

.footer-section {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: rgb(89 89 89);
  padding: 0 0.5rem;
}

.footer-section h2 {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.5rem;
}

.footer-icon--container {
  display: flex;
  gap: 5px;
}

.footer-icon {
  background-image: url("./images/icon-sprite.png");
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer-icon[data="twitter"] {
  background-position: 0px 0px;
}
.footer-icon[data="twitter"]:hover {
  background-position: 0px 30px;
}

.footer-icon[data="pinterest"] {
  background-position: 30px 0px;
}
.footer-icon[data="pinterest"]:hover {
  background-position: 30px 30px;
}

.footer-icon[data="facebook"] {
  background-position: 60px 0px;
}

.footer-icon[data="facebook"]:hover {
  background-position: 60px 30px;
}
