/* Colors */
:root {
  --header-bg-color: rgb(14 101 164);
  --header-nav-bg-color: rgb(25 145 208);
  --title-color: rgb(31 148 209);
  --text-color: rgb(176 176 176);
  --wave-right-margin: 50px;
  --footer-bg-color: rgb(51 51 51);
}

/* Resets */
body,
nav,
ul,
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  all: unset;
}

/* Typography */
:root {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.6rem;
}

/* Layout */
.l_wrapper {
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

/* Modules */

body {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: var(--header-bg-color);
}

.header-logo {
  margin: 30px 0;
}

.header-nav {
  position: relative;
  display: flex;
  background-color: var(--header-nav-bg-color);
  color: white;
}

.header-nav-item a {
  display: block;
  padding: 15px;
  cursor: pointer;
}

.header-nav-item a:hover {
  background-color: rgb(255, 255, 255, 0.6);
}

.header-nav-item a.is_select {
  background-color: white;
  color: black;
}

.header-cover {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.main {
  background-color: rgb(240 240 240);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.container {
  display: flex;
  background-color: white;
  gap: 40px;
  padding: 20px;
  margin-bottom: 20px;
}

.container-contents {
  flex-grow: 1;
  min-width: 0;
}

.container-sidebar {
  flex-shrink: 0;
  flex-basis: 200px;
}

.title {
  color: var(--title-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 2px dashed;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box:first-child {
  padding-top: 0px;
}

.box:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}

.box-info {
  overflow-wrap: break-word;
  min-width: 0px;
}

.summary p {
  border-left: 0.2rem solid;
  padding-left: 1rem;
  line-height: 2;
}

.footer {
  background-color: var(--footer-bg-color);
}

.footer-inside {
  display: flex;
  padding: 20px 0;
  align-items: flex-start;
  gap: 2rem;
}

.footer-logo {
  margin-right: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: rgb(89 89 89);
  padding: 0 0.5rem;
}

.footer-section h2 {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.5rem;
}

.icons {
  display: flex;
  gap: 5px;
}

.icon-item {
  background-image: url("./images/icon-sprite.png");
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
}

.icon-item:hover {
  background-position-y: 30px;
}

.icon-item[data-icon="twitter"] {
  background-position-x: 0px;
}

.icon-item[data-icon="pinterest"] {
  background-position-x: 30px;
}

.icon-item[data-icon="facebook"] {
  background-position-x: 60px;
}

@media (max-width: 1000px) {
  .header-nav-cover {
    display: none;
  }

  .box {
    flex-direction: column;
    align-items: center;
  }

  .box-cover {
    width: 100%;
  }

  .container-sidebar {
    display: none;
  }
}
