/*  Resets */

h1,
p {
  padding: 0;
  margin: 0;
}

button {
  border-style: none;
  background-color: transparent;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Module */
:root {
  --pink-color: rgb(252 15 145);
  --blue-color: rgb(19 145 252);
}

body {
  background-color: #ccc;
}

.l_wrapper {
  width: 300px;
  margin: 100px auto;
}

.box {
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.box-header {
  font-size: 2rem;
  padding: 30px 0;
  border-bottom: 5px solid rgb(219, 219, 219);
}

.box-header::before {
  content: ".";
  color: transparent;

  font-size: inherit;
  position: absolute;
  display: inline-block;
  line-height: 1;
  width: 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: var(--pink-color);
}

.box-title {
  font-size: inherit;
  padding: 0 20px;
  color: var(--pink-color);
}

.box-contents {
  background-color: rgb(239 239 239);
  padding: 25px;
}

.box-item-wrapper {
  width: auto;
  margin-bottom: 15px;

  border: 5px solid #999;
  border-radius: 5px;
}

.box-item-wrapper:last-child {
  margin-bottom: 0px;
}

/* 호환성 고려하면 별로인 방법 */
.box-item-wrapper:focus-within {
  margin-right: -10px;
  margin-left: -10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.box-item {
  color: inherit;
  background-color: white;
  padding: 10px;
  outline: unset;
  text-align: left;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer .copyright {
  color: gray;
  vertical-align: center;
  font-size: 0.5rem;
}

.footer::before,
.footer::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 1;
  border-top: 1px solid #999;
  border-radius: 1px;
  margin: 0 1rem;
  height: 0px;
}
