/* CSS Variable */ 
:root {
  --pink-color: rgb(252 15 145);
  --blue-color: rgb(19 145 252);
}


/*  Resets */

h1,
p {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: inherit;
}

button {
  border-style: none;
  background-color: transparent;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Typography */
:root {
  /* 명시적으로 REM의 기준 표시 */
  font-size: 10px;
}

body{
  font-size: 1.6rem;
}

/* Module */
body {
  background-color: #ccc;
}

.l_wrapper {
  width: auto;
  max-width: 800px;
  margin: 100px auto;
  padding: 0 20px;
}

.box {
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.box-header {
  font-size: 5rem;
  padding: 30px 0;
  border-bottom: 5px solid rgb(219, 219, 219);
  color: var(--pink-color);
  
}

.box-header::before {
  content: " ";
  position: absolute;
  height: 1em;
  width: 0.25em;
  border-radius: 0 0.25em 0.25em 0;
  background-color: currentColor;
}

.box-title {
  padding: 0 20px;
}

.box-contents {
  background-color: rgb(239 239 239);
  padding: 25px;
}

.box-item {
  outline: unset;
  color: inherit;
  background-color: white;
  padding: 10px;
  text-align: left;
  display: block;
  width: auto;
  border: 5px solid #999;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 10px;
}

.box-item:last-child {
  margin-bottom: 0px;
}

.box-item:focus {
  border-color: var(--blue-color);
  color: var(--blue-color);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 5px;
  font-weight: 700;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer .copyright {
  color: gray;
  vertical-align: center;
  font-size: 0.5rem;
}

.footer::before,
.footer::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 1;
  border-top: 1px solid #999;
  border-radius: 1px;
  margin: 0 1rem;
  height: 0px;
}
