:root {
  --main-bg-color: rgb(245 246 250);
  --card-bg-color: rgb(244 247 248);
  --purple-color: rgb(94 95 157);
  --red-color: rgb(234 98 104);
  --gray-color: #999999;
}

/* Resets */
body,
p,
h1 {
  margin: 0px;
}

/* Layout */
.l_wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

/* Typography */
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.c_purple {
  color: var(--purple-color);
}

.c_red {
  color: var(--red-color);
}

/* Components */

body {
  background-color: var(--main-bg-color);
}

.main {
  padding: 50px 0px;
}

.card_list {
  position: relative;
}

.card_list-sub {
  border-left: 1px solid rgba(237 238 241);
  margin-left: 50px;
  padding-left: 50px;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  margin-bottom: 2rem;

  min-width: 250px;
}

.card-side_left {
  flex-shrink: 0;
}

.card-contents {
  min-width: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-contents-header {
  display: flex;
  flex-direction: row;
}

.card-contents-header-left {
  display: flex;
  align-items: center;
  min-width: 0px;
}

.card-contents-header-right {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
}

.card-contents-body {
  color: var(--gray-color);
  overflow: hidden;
}

.card-contents-footer {
  display: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  min-width: 0px;
}

.profile_image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-name {
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-tag {
  font-size: 1.4rem;
  background-color: var(--purple-color);
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  color: white;
}

.time_text {
  flex-shrink: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--gray-color);
  margin: 0 1rem;
}

.action_btn {
  all: unset;
  cursor: pointer;
  padding: 10px;
}

.action_btn:hover {
  opacity: 0.6;
}

.action_btn-cover {
  margin-right: 0.5rem;
}

.action_btn-text {
  font-size: 1.6rem;
  font-weight: 700;
}

.send_btn {
  all: unset;
  cursor: pointer;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--purple-color);
  color: white;
}
.send_btn:hover {
  opacity: 0.6;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg-color);
  padding: 0.8rem;
  border-radius: 8px;
  gap: 1rem;
}

.vote_horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.vote-btn {
  all: unset;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-btn:hover {
  opacity: 0.6;
}

.vote-count {
  font-size: 2rem;
  font-weight: 700;
  color: var(--purple-color);
  line-height: 1;
  /* Font가 살짝 위로 올라가있는 느낌해결 가능할가?*/
  vertical-align: bottom;
}

.comment_input {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
  resize: none;
  outline: none;
  border: 2px solid rgb(246 246 246);
  border-radius: 5px;
  color: var(--gray-color);
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0px;
}

.modal-card {
  position: absolute;
  inset: 0px;
  margin: auto;
  width: 300px;
  height: 180px;
  border-radius: 5px;
  padding: 2.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-card-header {
  font-size: 1.6rem;
}

.modal-card-body {
  overflow: scroll;
  flex-grow: 1;
}

.modal-text {
  color: var(--gray-color);
}

.modal-card-footer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.modal-card-footer-right {
  flex-grow: 1;
}
.modal-card-footer-left {
  flex-grow: 1;
}

.modal_btn {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--gray-color);
}

.modal_btn:hover {
  opacity: 0.6;
}

.bg_red {
  background-color: var(--red-color);
}

/* Util */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Mobile */
@media (max-width: 480px) {
  .main {
    padding: 25px 0px;
  }

  .card_list-sub {
    margin-left: 0px;
    padding-left: 20px;
  }
  .card {
    padding: 1.5rem;
    flex-direction: column-reverse;
  }

  .card-side_left {
    display: none;
  }

  .card-side_right {
    display: none;
  }

  .card-contents-header-right {
    display: none;
  }

  .card-contents-footer {
    display: flex;
    justify-content: flex-start;
  }
  .card-contents-footer-left {
    min-width: 0px;
  }
  .card-contents-footer-right {
    margin-left: auto;
    display: flex;
  }

  .modal-card {
    margin: auto 2rem;
    width: auto;
  }
}
